
<!DOCTYPE html>
<html>
<head>
<title>Create</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
</head>
<body>


  <div class="grid-left">

    <div class="content">
      <textarea id="ta-heading-style">
Title.
      </textarea>
      <textarea id="ta-subheading-style">
Tuesday, 09 January 2018
      </textarea>
      <textarea id="ta-content-style">
“The life of a poet lies not merely in the finite language-dance of expression
but in the nearly infinite combinations of perception and memory combined with the sensitivity to what is perceived and remembered.”&#13;&#10;
- Dan Simmons, Hyperion.
      </textarea>
      <a class="submitbutton" id="postsubmitbutton">Submit</a>
    </div>

  </div>

  <div class="grid-right">
    <div class="container">
      <div class="menu">

        <div class="grid-item">
          <div class="name" id="first">
            <h1>J<a class="secretsignin" href="https://murmuring-ocean-82758.herokuapp.com/signup">o</a><a class="secretsignin" href="https://murmuring-ocean-82758.herokuapp.com/create">r</a>dan</h1>
          </div>
        </div>

        <div class="grid-item"><p></p></div>

        <div class="grid-item">
          <div class="name" id="last">
            <h1>Campbell</h1>
          </div>
        </div>

        <div class="grid-item"><p></p></div>
        <div class="grid-item"><p></p></div>
        <div class="grid-item"><p></p></div>

        <div class="grid-item element-text code-text"><p>i build websites</p></div>
        <div class="grid-item element" id="code">  <a href="">   <h1>  &lt;/&gt;</h1></a></div>

        <div class="grid-item element-text ml-text"><p>i build ar platforms</p></div>
        <div class="grid-item element" id="ml">    <a href="">    <h1>    {}    </h1></a></div>

        <div class="grid-item element-text math-text"><p>i study machine learning</p></div>
        <div class="grid-item element" id="math">  <a href="">    <h1>     ∞    </h1></a></div>

        <div class="grid-item element-text write-text"><p>i blog</p></div>
        <div class="grid-item element" id="write"> <a href="https://murmuring-ocean-82758.herokuapp.com/read">    <h1>     ∑    </h1></a></div>

        <div class="grid-item element-text cc-text"><p>my girlfriend makes films</p></div>
        <div class="grid-item element" id="cc">    <a href="">    <h1>    ○   </h1></a></div>


        <div>

        </div>

      </div>

    </div>
  </div>


  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.js"></script>
  <script src="javascripts/create.js"></script>

</body>
</html>
